<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/enviar_horas.css">
    <title>Envio de horas</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="user-info">
                <a href="#"><img class="prof-pic" src="/images/profile_pic.png" alt="user"></a>
                <div class="user-text">
                    <p>User name</p>
                    <p>University name</p>
                </div>
            </div>

            <div class="logo">
                <img class="logo-img" src="/images/logoz.svg" alt="Logo">
            </div>
        </header>

        <main>
            <div class="main-card">

                {% for categoria in categorias %}
                <div class="categoria-card">
                    <div class="categoria-title">
                        <h2>{{ categoria.nome }}</h2>
                        <h2> {{ categoria.maxima_semestre }} </h2>
                    </div>
                    {% for subcategoria in subcategorias %}
                        <div class="subcategoria-title">
                            <h2>{{ subcategoria.nome }}</h2>
                            <h2>{{ subcategoria.maxima_sub }}</h2>
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </main>
    </div>
</body>
</html>