@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', sans-serif;
}

.container {
    background-color: #FFF5EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

header {
    background-color: #F29334;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    box-shadow: 0px 2px 2px darkgray;
    padding: 5px;
    position: fixed;
    z-index: 1000;
}

header .prof-pic {
    width: 50px;
    margin-left: 5px;
}

header .prof-pic a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .user-info {
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.logo .logo-img {
    width: 100px;
    margin-right: 10px;
}

.main-card {
    background-color: white;
    width: 900px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px darkgray;
    margin-top: 120px;
    overflow: hidden;
}

.main-title {
    color: #172B68;
    background-color: #FFB44E;
    overflow: hidden;
    padding-left: 15px;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.categoria-card {
    background-color: #FFF5EB;
    box-shadow: 0px 2px 2px darkgray;
    border-radius: 10px;
    overflow: hidden;
}

.categoria-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFB44E;
    color: #B3B5C5;
    padding: 10px;
    cursor: pointer;
}

.title {
    color: #172B68;
}

.hora {
    color: #DC8917;
}

.subcategorias-list {
    max-height: 0;
    overflow: hidden;
    display: block;
}

.subcategorias-list.open {
    max-height: 500px;
}

.subcategoria-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF5EB;
    color: #AEB1C2;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.subcategoria-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s cubic-bezier(0.4,0,0.4,0.4);
    background: #fff; /* Optional: style as needed */
    padding: 0 10px;
}
.subcategoria-content.open {
    max-height: 300px; /* Adjust as needed */
    transition: max-height 0.4s cubic-bezier(0.4,0,0.4,0.4);
}