<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="/styles/aluno_main.css">
    <title>Página inicial do aluno</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="user-info">
                <a href="#"><img class="prof-pic" src="/images/profile_pic.png" alt="user"></a>
                <div class="user-text">
                    <p>User name</p>
                    <p>University name</p>
                </div>
            </div>

            <div class="logo">
                <img class="logo-img" src="/images/logoz.svg" alt="Logo">
            </div>
        </header>

        <main>
            <div class="welcome-title">
                <h1>Bem vindo aluno!</h1>
            </div>

            <div class="card">
                <div class="bt">
                    <a class="send" href="#">
                    <img src="/images/send.svg" alt="Send">
                    </a>
                    <label for="send">Comprovar horas</label>
                </div>
                <div class="bt">
                    <a class="view" href="#">
                    <img src="/images/eye.svg" alt="View">
                    </a>
                    <label for="view">Visualizar resultados</label>
                </div>
            </div>

            <div class="blocks">
                <img src="/images/moldura-cinza.svg" alt="">
            </div>
        </main>
    </div>
</body>
</html>