<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/login.css" />
  <title>LoginASQ!</title>
</head>

<body>
  <div class="conteiner">
    <div id="loginaluno">
      <h1>Login do Aluno</h1>
      <form action="/login_aluno" method="post">
        <p>* Seu e-mail:</p>
        <input type="email" name="email" id="email" placeholder="Digite seu email exemplo@email.com" required />

        <p>* Sua senha:</p>
        <input type="password" name="senha" id="senha" placeholder="Senha" required />

        <div class="acessar" id="VoltareEntrar">
          <a href="#" id="btn-voltar">
            <img src="/images/Group 34.svg" alt="Voltar" />
          </a>

          <a href="#" id="btn-voltar">
            <img src="/images/Group 26.svg" alt="Entrar" />
          </a>
        </div>
      </form>

      <div class="esqueci-a-senha">
        <p>
          Caso não tenha um acesso, <a href="#">clique aqui para criar.</a>
        </p>
      </div>
    </div>
  </div>

  <div class="molduras">
    <img src="/images/moldura.png" alt="Moldura superior esquerda" id="moldura-1" />
    <img src="/images/moldura.png" alt="Moldura inferior direita" id="moldura-2" />
  </div>
</body>

</html>
