<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginASQ!</title>
</head>
<body>
    <div class="conteiner">
        <label for="Login_Aluno">
            <h1>Login do Aluno</h1>
            <form action="/login_aluno" method="post">
                <input type="email" name="email" id="email" placeholder="Digite seu email exemplo@email.com" required>
                <input type="password" name="senha" id="senha" placeholder="Senha" required>
                <button type="submit">Voltar </button>
                <button type="submit">Entrar</button>
                <p>Caso não tenha um acesso, <a href="#">clique aqui para criar.</a></p>
            </form>
        </label>
    </div>
</body>
</html>