<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Academic Side Quest!</title>

</head>
<body>
    <div class="conteiner">
        <div class="pocao">
            <img src="/images/pocao.png" alt="">
        </div>
        <div class="start">
            <button type="submit">START</button>
        </div>
    <button type="submit">Aluno</button>
    <button type="submit">Coodenador</button>
    </div>
</body>
</html>