<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/tela_coordenador.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Tela Coordenador</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="perfil">
                <img src="/images/profile_pic.png" alt="Perfil do Coordenador">
                <div class="perfil-info">
                    <h2>Coordenador</h2>
                    <p>Nome do Coordenador</p>
                </div>
            </div>

            <div class="logo">
                <img src="/images/logoASQ.svg" alt="Logo">
            </div>
        </header>
        <main>
            <h1>Bem Vindo {Nome da conta} !</h1>
            <section>
                <div class="gen" data-action="visualizar-alunos">
                    <i class='bx bx-show'></i>
                    <p>Visualizar Alunos</p>
                </div>

                <div class="gen" data-action="gerenciar-projetos">
                    <i class='bx bx-receipt'></i>
                    <p>Gerenciar Projetos</p>
                </div>

                <div class="gen" data-action="gerenciar-cursos">
                    <i class='bx bx-copy-alt'></i>
                    <p>Gerenciar Cursos</p>
                </div>
            </section>
        </main>
        <footer>
            <img src="/images/Group_card.svg" id="canto" alt="canto">
        </footer>
    </div>
</body>
</html>
