<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Academic Side Quest!</title>

</head>
<body>
    <div class="conteiner">
        <div class="pocao">
            <img src="/images/pocao.png" alt="">
        </div>
        <div class="start">
            <a href="#"> <img src="/images/Group 30.svg" alt=""> </a>
        </div>
        <div class="secundario">

            <a href="#"> <img src="/images/Group 32.svg" alt=""></a>
            <a href="#"><img src="/images/Botão voltar (1).svg" alt=""></a>
        </div>
    </div>
</body>
</html>