@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Jaro', sans-serif;
}

.container {
    background-color: #FFF5EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

header {
    background-color: #F29334;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    box-shadow: 0px 2px 2px darkgray;
    padding: 5px;
    position: fixed;
    z-index: 1000;
}

header .prof-pic {
    width: 50px;
    margin-left: 5px;
}

header .prof-pic a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .user-info {
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.logo .logo-img {
    width: 100px;
    margin-right: 10px;
}
